<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mi familia esta formada por:</h1>
    <ul style="font-weight: bold;">Madre
        <li>Nombre: {{madre.nombre}}</li>
        <li>Edad: {{madre.edad}}</li>
        <li>Cumpleaños: {{madre.cumpleaños}}</li>
    </ul> 
    <ul style="font-weight: bold;">Padre
        <li>Nombre: {{padre.nombre}}</li>
        <li>Edad: {{padre.edad}}</li>
        <li>Cumpleaños: {{padre.cumpleaños}}</li>
    </ul> 
    <ul style="font-weight: bold;">Hermano
        <li>Nombre: {{hermano.nombre}}</li>
        <li>Edad: {{hermano.edad}}</li>
        <li>Cumpleaños: {{hermano.cumpleaños}}</li>
    </ul> 
</body>
</html>